<html>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles/style.css">
  <head>
    <title>Редактировать тайтл</title>
  </head>
  <body>

    <p><a href="/">На главную</a></p>
      <br>
    <form action="/edit-title/{{title.id}}" method="POST">
      <label for="picture_link">Картинка:</label><br>
      <input type="text" id="picture_link" name="picture_link" value="{{title.picture_link}}"><br>
      <label for="name">Название:</label><br>
      <input type="text" id="name" name="name" value="{{title.name}}"><br>
      <label for="original_name">Оригинальное название:</label><br>
      <input type="text" id="original_name" name="original_name" value="{{title.original_name}}"><br>
      <label for="watched_series">Просмотрено серий:</label><br>
      <input type="number" id="watched_series" name="watched_series" value="{{title.watched_series}}"><br>
      <label for="total_series">Всего серий:</label><br>
      <input type="number" id="total_series" name="total_series" value="{{title.total_series}}"><br>
      <label for="link">MAL:</label><br>
      <input type="text" id="link" name="link" value="{{title.link}}"><br>
      <label for="status">Статус:</label><br>
      <input type="number" id="status" name="status" value="{{title.status}}"><br>
      <label for="users">Кто смотрит:</label><br>
      <select name="users" id="users" multiple>
        {% for user in users %}
          <option value="{{user.id}}" {% if 1 = 1 %} selected {% endif %}>{{user.name}}</option>
        {% endfor %}
      </select>
      <label for="comment">Примечание:</label><br>
      <input type="text" id="comment" name="comment" value="{{title.comment}}"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>