<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/style.css">
  <script>
    function editTitle(id) {
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.onload = function() {
          location.reload();
      }
      xmlHttp.open("GET", "/edit-title/" + id, true); // true for asynchronous\
      xmlHttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
      return false;
    }
    function fromMal() {
      var url = document.getElementById("input_from_mal").value
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open("GET", "/parse-mal?url=" + url, true);
      xmlHttp.setRequestHeader('Content-Type', 'application/application-json');
      xmlHttp.onload = () => {
        if (xmlHttp.status != 200) {
          alert(`Ошибка ${xmlHttp.status}: ${xmlHttp.statusText}`);
        } else {
          var resp = JSON.parse(xmlHttp.response);
          document.getElementById("original_name").value = resp.original_name
          document.getElementById("watched_series").value = resp.watched_series
          document.getElementById("total_series").value = resp.total_series
          document.getElementById("link").value = resp.link
          document.getElementById("status").value = resp.status
          document.getElementById("picture_link").setAttribute("src", resp.picture_link)
          document.getElementById("picture_link").removeAttribute("hidden")
          document.getElementById("picture_link_input").value = resp.picture_link
        }
      }
      xmlHttp.send();
      return false;
    }
  </script>
  <head>
      <title>Наше аниме</title>
  </head>
  <body>
    <div class="table_home">
    <table>
      <tr>
        <th>Картинка</th>
        <th>Название</th>
        <th>Оригинальное название</th>
        <th>Просмотрено серий</th>
        <th>Всего серий</th>
        <th>MAL</th>
        <th>Статус</th>
        <th>Кто смотрит</th>
        <th>Примечание</th>
        <th>Редактировать</th>
      </tr>
      {% for item in titles %}
      <tr>
        <td><img src="{{item.picture_link}}"></td>
        <td>{{item.name}}</td>
        <td>{{item.original_name}}</td>
        <td>{{item.watched_series}}</td>
        <td>{{item.total_series}}</td>
        <td>{{item.link}}</td>
        <td>{{item.status}}</td>

        <td>
          {% for user in item.users %}
            <p style="background-color:{{user.color}}">{{user.name}}</p>
          {% endfor %}
        </td>
        <td>{{item.comment}}</td>
        <td>
          <a href="/edit-title/{{item.id}}">E</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <br>
  <label>Загрузить с MAL</label>
    <input type="text" id="input_from_mal" name="input_from_mal">
    <button onclick="fromMal()">Загрузить</button>
    <form id="new_title_form" action="/add-title" method="POST">
      <img id="picture_link" name="picture_link" src="" hidden><br>
      <input type="hidden" id="picture_link_input" name="picture_link"><br>
      <label for="name">Название:</label><br>
      <input type="text" id="name" name="name"><br>
      <label for="original_name">Оригинальное название:</label><br>
      <input type="text" id="original_name" name="original_name"><br>
      <label for="watched_series">Просмотрено серий:</label><br>
      <input type="number" id="watched_series" name="watched_series"><br>
      <label for="total_series">Всего серий:</label><br>
      <input type="number" id="total_series" name="total_series"><br>
      <label for="link">MAL:</label><br>
      <input type="text" id="link" name="link"><br>
      <label for="status">Статус:</label><br>
      <input type="number" id="status" name="status"><br>
      <label for="comment">Примечание:</label><br>
      <input type="text" id="comment" name="comment"><br>
      <label for="users">Кто смотрит:</label><br>
      <select name="users" id="users" multiple>
        {% for user in users %}
          <option value="{{user.id}}" style="background-color:{{user.color}}">{{user.name}}</option>
        {% endfor %}
      </select>

      <input type="submit" value="Submit">
    </form>
    <br><p><a href="/users">Добавить/удалить пользователя</a></p>
  </body>
</html>