<html>
  <meta charset="UTF-8">
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
  <head>
    <title>Наше аниме</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Название</th>
        <th>Оригинальное название</th>
        <th>Просмотрено серий</th>
        <th>Всего серий</th>
        <th>MAL</th>
        <th>Статус</th>
        <th>Кто смотрит</th>
      </tr>
      {% for item in titles %}
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.original_name}}</td>
        <td>{{item.watched_series}}</td>
        <td>{{item.total_series}}</td>
        <td>{{item.link}}</td>
        <td>{{item.status}}</td>

        <td>
          {% for user in item.users %}
            <p style="background-color:{{user.color}}">{{user.name}}</p>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </table>
    <p>Add title</p>
    <form action="/add-title" method="POST">
      <label for="name">Название:</label><br>
      <input type="text" id="name" name="name"><br>
      <label for="original_name">Оригинальное название:</label><br>
      <input type="text" id="original_name" name="original_name"><br>
      <label for="watched_series">Просмотрено серий:</label><br>
      <input type="number" id="watched_series" name="watched_series"><br>
      <label for="total_series">Всего серий:</label><br>
      <input type="number" id="total_series" name="total_series"><br>
      <label for="link">MAL:</label><br>
      <input type="text" id="link" name="link"><br>
      <label for="status">Статус:</label><br>
      <input type="number" id="status" name="status"><br>
      <label for="users">Кто смотрит:</label><br>
      <select name="users" id="users" multiple>
        {% for user in users %}
          <option value="{{user.id}}" style="background-color:{{user.color}}">{{user.name}}</option>
        {% endfor %}
      </select>

      <input type="submit" value="Submit">
    </form>
    <br><p><a href="/users">Добавить/удалить пользователя</a></p>
  </body>
</html>