@import "reset.css" ;

body{
    padding: 30px;
    background: url(../images/meg3.png) 100% 100% no-repeat;
    font-family: 'Balsamiq Sans', cursive;
    background-color: #eeede9;
    background-attachment: fixed;
    background-size: contain;
     
}

table, th, td {
    border: 3px solid black; 
    padding: 5px;

}

label{
    display: inline-block;
    margin: 4px 0px;
}

.knopka{
    display: inline-block;
    margin: 5px 0px;
}